<?xml version="1.0"?>
<robot name="hunter2" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/base/base.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/base/sensor.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/base/hunter_ros2_control.urdf.xacro"/>

</robot>