<?xml version="1.0"?>
<robot name="hunter2_base" xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/actuator/wheel.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/actuator/steer.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/actuator/caster.urdf.xacro"/>

    <xacro:property name="MU1" value="5.0"/>
    <xacro:property name="MU2" value="5.0"/>
    <xacro:property name="K_P" value="1e8"/>
    <xacro:property name="K_D" value="1.0"/>

    <xacro:wheel prefix="front_left"/>
    <xacro:wheel prefix="front_right"/>
    <xacro:wheel prefix="rear_left"/>
    <xacro:wheel prefix="rear_right"/>

    <xacro:steering_link prefix="front_left"/>
    <xacro:steering_link prefix="front_right"/>

    <xacro:front_wheel_joint prefix="left" x="0" y="0.066" z="-0.026" rz="0" yaxis="1"/>
    <xacro:front_wheel_joint prefix="right" x="0" y="-0.066" z="-0.026" rz="0" yaxis="1"/>

    <xacro:steering_joint prefix="front_left" x="0.37142" y="0.234" z="-0.1695"/>
    <xacro:steering_joint prefix="front_right" x="0.37142" y="-0.234" z="-0.1695"/>

    <xacro:rear_wheel_joint prefix="left" x="-0.28" y="0.29" z="-0.1955" rz="0" yaxis="1"/>
    <xacro:rear_wheel_joint prefix="right" x="-0.28" y="-0.29" z="-0.1955" rz="0" yaxis="1"/>

    <xacro:gazebo_wheel prefix="front_left" mu1="${MU1}" mu2="${MU2}" kp="${K_P}" kd="${K_D}"/>
    <xacro:gazebo_wheel prefix="front_right" mu1="${MU1}" mu2="${MU2}" kp="${K_P}" kd="${K_D}"/>
    <xacro:gazebo_wheel prefix="rear_left" mu1="${MU1}" mu2="${MU2}" kp="${K_P}" kd="${K_D}"/>
    <xacro:gazebo_wheel prefix="rear_right" mu1="${MU1}" mu2="${MU2}" kp="${K_P}" kd="${K_D}"/>

</robot>
