<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="hunterGazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <joint name="front_left_wheel_joint">
            <command_interface name="position"/>
            <state_interface name="position" />
        </joint>

        <joint name="front_right_wheel_joint">
            <command_interface name="position"/>
            <state_interface name="position" />
        </joint>

        <joint name="rear_left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="rear_right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find ackermancar_description)/params/hunter2/controller.yaml</parameters>
            <!-- <ros>
                <remapping>/hunter2_ackermann_drive_controller/cmd_vel_unstamped:=/cmd_vel</remapping>
                <remapping>/hunter2_ackermann_drive_controller/odom:=/odom</remapping>
            </ros> -->
        </plugin>
    </gazebo>
</robot>