<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/visual_dir.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/sensor/sonar.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/sensor/camera.urdf.xacro"/>
    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/sensor/laser.urdf.xacro"/>

    <xacro:include filename="$(find ackermancar_description)/urdf/hunter2/sensor/imu.urdf.xacro"/>

    <xacro:sonar_link prefix="front"/>
    <xacro:sonar_link prefix="rear"/>
    <xacro:sonar_link_joint prefix="front" x="0.39" y="0" z="0.067054" sign="0" parent_link="bracket_link"/>
    <xacro:sonar_link_joint prefix="rear" x="-0.31" y="0" z="0.067054" sign="1" parent_link="bracket_link"/>

    <xacro:rgb_camera prefix="front"/>
    <xacro:rgb_camera prefix="rear"/>
    <xacro:rgb_camera prefix="left"/>
    <xacro:rgb_camera prefix="right"/>

    <xacro:rgb_camera_joint prefix="front" x="0.395" y="0" z="0.76" dir="0" parent_link="bracket_link"/>
    <xacro:rgb_camera_joint prefix="right" x="0" y="0.23" z="0.76" dir="1" parent_link="bracket_link"/>
    <xacro:rgb_camera_joint prefix="rear" x="-0.315" y="0" z="0.76" dir="2" parent_link="bracket_link"/>
    <xacro:rgb_camera_joint prefix="left" x="0" y="-0.23" z="0.76" dir="3" parent_link="bracket_link"/>

    <!-- color camera sensor -->
    <xacro:rgb_camera_gazebo prefix="front"/>
    <xacro:rgb_camera_gazebo prefix="left"/>
    <xacro:rgb_camera_gazebo prefix="rear"/>
    <xacro:rgb_camera_gazebo prefix="right"/>

    <xacro:sonar_gazebo prefix="front"/>
    <xacro:sonar_gazebo prefix="rear"/>

</robot>